@model FinalProject.Models.Employer

@{
    ViewBag.Title = "ThankYou";
}

<h2>Thank You!</h2>

<p style="font-size:20px">You are now a member of  <img src="~/Images/Job_Seekers_Premium.png" height="30" style="position:absolute; left: 520px; top:115px "/> <br /><br />

    To start taking advantage of this, click on "JobSeekers Premium" at the top of your screen.



 </p>

