@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home Page";
}
@{

    FinalProject.Models.ApplicationDbContext db = new FinalProject.Models.ApplicationDbContext();
    string UserID = User.Identity.GetUserId();
    int UserRole = db.Users.Where(x => x.Id == UserID).Select(x => x.Role).FirstOrDefault();
    var user = db.Employer.Where(x => x.UserId == UserID).Select(x => x).FirstOrDefault();
    var UploadedResume = db.JobSeeker.Where(x => x.UserId == UserID).Select(x => x.UploadedResume).FirstOrDefault();
    var TestA = db.JobSeeker.Where(x => x.UserId == UserID).Select(x => x.Survey1Complete).FirstOrDefault();
    var TestB = db.JobSeeker.Where(x => x.UserId == UserID).Select(x => x.Survey2Complete).FirstOrDefault();
    var TestC = db.JobSeeker.Where(x => x.UserId == UserID).Select(x => x.Survey3Complete).FirstOrDefault();
    var Info = db.JobSeeker.Where(x => x.UserId == UserID).Select(x => x.Info).FirstOrDefault();
    bool Subscription = false;
    if (UserRole == 2)
    {
        Subscription = user.isSubscribed;
    }


<div class="jumbotron">
    
    <img src="~/Images/js.jpg" style="width:100%; height:100%; border-radius:4px" />
    
    
    
</div>


if (User.Identity.GetUserId() == null)
{
    <div class="row">
        <div class="col-md-4">
            <h2><img src="~/Images/Job_Seekers_words_363x65 copy.png" height="40"/></h2>
            <p>
                Register today and take the first step on your path to becoming a person with a job.
            </p>

            @*<p>
                @Html.ActionLink("Register", "Register", "Account", "", new { @class = "btn btn-success" })

            </p>*@
        </div>
        <div class="col-md-4">
            <h2><img src="~/Images/Employers_word_363x65.png" height="50" /></h2>
            <p>Register today to find your next great employee. Subscribe to our premium service in order to make that process even easier. Choose "Employer" during the registration process. </p>
            @*<p>
                @Html.ActionLink("Register", "Register", "Account", "", new { @class = "btn btn-success" })

            </p>*@
        </div>
        <div class="col-md-4">
            <h2><img src="~/Images/Job_Seekers_Premium_363x65.png" width="434" /></h2>
            <p>For employers we also offer a premium service that will help you to find the perfect employee for the position you are trying to fill. This will allow you to directly contact jobseekers and sort them by criteria determined by you! Register for free and return to this page to sign up.</p>
            
        </div>
    </div>
    }
    if (UserRole == 1)
    {

        <div class="row">
            <div class="col-md-4">
                @if (UploadedResume == false)
                {
                    <h2>Upload your Resume</h2>
                                    <p>
                                        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                         {
                                            <input type="file" name="file" id="file" />
                                            <br>
                                            <input type="submit" name="submit" value="Upload" />


                                        }
                                    </p>
                }
                else if (UploadedResume == true)
                {
                    <h2>Resume: Uploaded</h2>
                }
            </div>
            <div class="col-md-4">
                @if (Info == null)
                {
                    <h2>Update your Profile</h2>
                    <p>
                        Click on "MyProfile" and then "Edit" to give a brief introduction to employers under the "Info" section.
                    </p>
                }
                else
                {
                    <h2>Profile: Updated</h2>
                }
            </div>
            <div class="col-md-4">
                @if(TestA == true && TestB == true && TestC == true)
                {
                    <h2>Tests: Completed</h2>
                }
                else
                {
                    <h2>Take the Tests</h2>
                    <p>
                        On your profile page, take the three tests provided to let an employer know what jobs are best-suited for you.
                    </p>
                }
            </div>
        </div>
        <div class="progress">
            @if (UploadedResume == true)
            {
                <div class="progress-bar progress-bar-info" style="width: 33.3%"></div>
            }
            else
            {
                <div class="progress-bar progress-bar-info" style="width: 0%"></div>
            }
            @if (Info == null)
            {
                <div class="progress-bar progress-bar-info" style="width: 0%"></div>
            }
            else if(Info != null)
            {
                <div class="progress-bar progress-bar-info" style="width: 33.3%"></div>
            }
            @if (TestA == true && TestB == true && TestC == true)
            {
                <div class="progress-bar progress-bar-info" style="width: 33.3%"></div>
            }
            else
            {
                <div class="progress-bar progress-bar-info" style="width: 0%"></div>
            }

        </div>
    }
    if (UserRole == 2 && Subscription == false)
    {
            <div class="row">
                <div class="col-md-4">
                    <h2>Upgrade your account</h2>
                    <p>If you would like to have access to more information, purchase our premium service.  This will allow you to filter jobseekers by aptitude, personality types, and emotional intelligence.</p>

                </div>
                <div class="col-md-4">
                   <br /><br /><br />
                    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHgQYJKoZIhvcNAQcEoIIHcjCCB24CAQExggE6MIIBNgIBADCBnjCBmDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCkNhbGlmb3JuaWExETAPBgNVBAcTCFNhbiBKb3NlMRUwEwYDVQQKEwxQYXlQYWwsIEluYy4xFjAUBgNVBAsUDXNhbmRib3hfY2VydHMxFDASBgNVBAMUC3NhbmRib3hfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMA0GCSqGSIb3DQEBAQUABIGAZszpKTgQ/Wvz0NR366U7qWlR6vGyIiXZ2JwwZCZczUXLCC7atcMFWvpaTqkmjq+rUYPHaHI7Bm3plFuEGUAZGEo+s+bGtNSb9L7EAefdSiLPyENlGZFWd749EhkcR2DBhHgICXwNqFZ+8jEs1kO+lvJC1yFg/pLC28YdUPzL2IMxCzAJBgUrDgMCGgUAMIHMBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECHTdxdnUmBTDgIGokPvJi7/7OxFFxIrGMNn1pY2mjxK9HEIqq5AeVpLt8aQXijUlMF7mgLTmnzahwFHkMt1Mq4Rop0ptW4cTBPnasGEu/MGX/8pNfgY6oaM1ss5LLNEbm+ufhWYvvex+uz97qlkpoui8uxXIgqsbmmnG9GNeBkUzzxd0VzG69X23oQSOVhw8b73Ton9LGaT6JJz/xrujKI0criuS2+Uhc7WcoZHfcEp22Hf8oIIDpTCCA6EwggMKoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgZgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMREwDwYDVQQHEwhTYW4gSm9zZTEVMBMGA1UEChMMUGF5UGFsLCBJbmMuMRYwFAYDVQQLFA1zYW5kYm94X2NlcnRzMRQwEgYDVQQDFAtzYW5kYm94X2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDA0MTkwNzAyNTRaFw0zNTA0MTkwNzAyNTRaMIGYMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxFTATBgNVBAoTDFBheVBhbCwgSW5jLjEWMBQGA1UECxQNc2FuZGJveF9jZXJ0czEUMBIGA1UEAxQLc2FuZGJveF9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBALeW47/9DdKjd04gS/tfi/xI6TtY3qj2iQtXw4vnAurerU20OeTneKaE/MY0szR+UuPIh3WYdAuxKnxNTDwnNnKCagkqQ6sZjqzvvUF7Ix1gJ8erG+n6Bx6bD5u1oEMlJg7DcE1k9zhkd/fBEZgc83KC+aMH98wUqUT9DZU1qJzzAgMBAAGjgfgwgfUwHQYDVR0OBBYEFIMuItmrKogta6eTLPNQ8fJ31anSMIHFBgNVHSMEgb0wgbqAFIMuItmrKogta6eTLPNQ8fJ31anSoYGepIGbMIGYMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxFTATBgNVBAoTDFBheVBhbCwgSW5jLjEWMBQGA1UECxQNc2FuZGJveF9jZXJ0czEUMBIGA1UEAxQLc2FuZGJveF9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQBXNvPA2Bl/hl9vlj/3cHV8H4nH/q5RvtFfRgTyWWCmSUNOvVv2UZFLlhUPjqXdsoT6Z3hns5sN2lNttghq3SoTqwSUUXKaDtxYxx5l1pKoG0Kg1nRu0vv5fJ9UHwz6fo6VCzq3JxhFGONSJo2SU8pWyUNW+TwQYxoj9D6SuPHHRTGCAaQwggGgAgEBMIGeMIGYMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTERMA8GA1UEBxMIU2FuIEpvc2UxFTATBgNVBAoTDFBheVBhbCwgSW5jLjEWMBQGA1UECxQNc2FuZGJveF9jZXJ0czEUMBIGA1UEAxQLc2FuZGJveF9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE2MDMyNDE5MjQ0N1owIwYJKoZIhvcNAQkEMRYEFPvb+iSgj0Ok4IB1/mnSZv45uRtHMA0GCSqGSIb3DQEBAQUABIGAJH2ute+y3aKM1cCqCXG0CNuzzsHGWKDtL5SKvYK5WCkk5BSRyogxeNwEqrTcFsS0pt2mSVB74B9t+lMWlRClH+ikhHB2bL2/b1CyxpBrDUh1DDbtc3nTxR/AEvvmJ1I799ctM04UnJD9RmIrTRur/mq2Yf+NdkgGlyIKRXfyo2Q=-----END PKCS7-----
">
                        <input type="hidden" name="return" value="http://localhost:44141/Employers/ThankYou">   
                        <input type="hidden" name="cbt" value="Return to jobwebsite.com" src="http://localhost:44141/Employers/ThankYou" />      
                                                                    @*//Change this ^*@
                        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>



                </div>
            </div>
            }
        }
                @*<div class="row">
                            <div class="col-md-4">
                                <h2>Jobseekers!</h2>
                                <p>
                                    Register today and take the first step on your path to becoming a person with a job.
                                </p>

                                <p>
                                    @Html.ActionLink("Register", "Register", "Account", "", new { @class = "btn btn-info" })



    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: 33.3%"></div>
      <div class="progress-bar progress-bar-warning" style="width: 33.3%"></div>
      <div class="progress-bar progress-bar-danger" style="width: 33.3%"></div>
    </div>


                                </p>
                            </div>
                            <div class="col-md-4">
                                <h2>Employers!</h2>
                                <p>Register today to find your next great employee. Subscribe to our premium service in order to make that process even easier. Choose "Employer" during the registration process. </p>
                                <p>
                                    @Html.ActionLink("Register", "Register", "Account", "", new { @class = "btn btn-info" })

                                </p>
                            </div>
                            <div class="col-md-4">
                                <h2>Premium</h2>
                                <p>We offer a premium service that will help you to find the perfect employee for the position you are trying to fill. This allows you to contact jobseekers and sort them by criteria determined by you! </p>
                                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                            </div>
                        </div>*@
